<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>List of Tables for:</h1>
    <a href="/">&#x2190; Back</a> <br /><br />
    {% if database and database[0] is not string %}
      {% for (table,) in database%}
        <div>
          <a href="/database/{{dbName}}/{{table}}">{{table}}</a>
        </div>
      {% endfor %}
    {%endif%}
  </body>
</html>
