<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    table,
    td,
    th {
      border: 1px solid black;
    }
  </style>
  <body>
    <h1>List of Tables for:</h1>
    <a href="/database/{{dbName}}">&#x2190; Back</a> <br /><br />

    <h2>Table Schema</h2>
    <table>
      <thead>
        <tr>
          <th>Index</th>
          <th>Column Name</th>
          <th>Type</th>
          <th>Nullable</th>
          <th>Default</th>
          <th>Primary Key</th>
        </tr>
      </thead>
      <tbody>
        {% for col in table %}
        <tr>
          <td>{{ col[0] }}</td>
          <td>{{ col[1] }}</td>
          <td>{{ col[2] or 'untyped' }}</td>
          <td>{{ 'NOT NULL' if col[3] else 'NULL' }}</td>
          <td>{{ col[4] or '-' }}</td>
          <td>{{ 'YES' if col[5] else '-' }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h2>Table Data</h2>
    <table>
      <thead>
        <tr><th>Index</th>
          {% for col in table %}
          <th>{{ col[1] }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
        <tr>
          <td>{{loop.index}}</td>
          {% for cell in row %}
            <td>{{ cell }}</td>
          {% endfor %}
        </tr>
        {% else %}
        <tr>
          <td colspan="{{ table|length }}">No data in table</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
